* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
    color: #fff;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: darkcyan;
}

#tab {
    margin-left: 450px;
    font-weight: 500;
}




.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.tab2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}